* {
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/*--------------HEADER------------------*/

header {
    background: #fec704;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

header .name {
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    margin: auto;
    margin-left: 10em;
    width: 30%;
}

header .menu {
    margin-right: 15em;
    width: 70%;
}

header .menu li {
    float: right;
    margin-right: 2em;
    padding: 0.5em;
    padding-bottom: 0;
}

header .menu li a {
    color: black;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

header .menu li a:hover {
    background: #2b2b2b;
    color: white;
}

/*--------------WELCOME----------------*/

.wrapper .welcome {
    background: #2b2b2b;
    display: flex;
    height: auto;
    padding: 2% 10%;
    width: 100%;
}

.wrapper {
    height: 100%;
    overflow: auto;
    width: 100%;
}

.wrapper .welcome .image {
    display: flex;
    height: auto;
    margin: auto;
    margin-left: 5em;
    margin-right: 0;
    width: 38%;
}

.wrapper .welcome .image img {
    height: auto;
    width: 35em;
}

.wrapper .welcome .strings_divs {
    display: flex;
    flex-direction: column;
    width: auto;
}

.wrapper .welcome .strings_divs .string1 {
    margin: auto;
    margin-bottom: 1em;
    margin-left: 5em;
    width: auto;
}

.wrapper .welcome .strings_divs .string1 h1 {
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
    border-right: .15em solid #fec704;
    color: #fff;
    font-size: 3em;
    letter-spacing: .15em;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;

}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #fec704
    }
}

.wrapper .welcome .strings_divs .string2 {
    color: #fec704;
    font-size: 1em;
    margin: auto;
    margin-left: 5em;
    margin-top: 0;
    width: auto;
}

/*----------------------ABOUT ME -------------------------------*/
.wrapper .about-me {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.wrapper .about-me .title {
    margin: 5em 25em;
    margin-right: 1em;

}

.wrapper .about-me .title .black {
    color: #2b2b2b;
    font-size: 2em;
    text-align: right;
}

.wrapper .about-me .title .orange {
    color: #fec704;
    font-size: 2em;
    text-align: right;
}

.wrapper .about-me .info-box {
    font-size: 1.3em;
    letter-spacing: 0.05em;
    padding: 5em 8em;

}

.wrapper .about-me .info-box .first-p {
    margin-bottom: 1em;

}

.wrapper .about-me .info-box .second-p {
    margin-bottom: 2em;
    text-align: justify;
}

.wrapper .about-me .info-box .quote {
    color: #2b2b2b;
    text-align: right;
}

.wrapper .about-me .info-box .quote-author {
    color: #fec704;
    text-align: right;
}

.wrapper .about-me .buttons {
    align-self: flex-end;
    margin: 5em 20em;
    margin-left: 1em;
}

.wrapper .about-me .buttons button {
    background-color: #fec704;
    border: none;
    border-radius: 2em;
    color: white;
    font-size: 1em;
    height: auto;
    margin: auto;
    outline: none;
    padding: 1em;
    width: 10em;

}

.wrapper .about-me .buttons button:hover {
    background-color: #c49c17;
    cursor: pointer;
    padding: 1.2em;

}

/*-------------------SKILLS--------------*/
.wrapper .skills {
    background-color: #fec704;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 25em;
    width: 100%;
}

.wrapper .skills .title {
    margin: 3em 0;
    width: 6em;

}

.wrapper .skills .title .black {
    color: #2b2b2b;
    font-size: 2em;
    text-align: right;
}

.wrapper .skills .title .white {
    color: white;
    font-size: 2em;
    text-align: right;
}

.wrapper .skills .skills-grid {
    display: grid;
    grid-template-columns: 20% 40%;
    grid-template-rows: repeat(4, 30%);
    height: auto;
    margin-bottom: 5em;
    margin-top: 2em;
    width: 80%;
}

/*////////ANIMATIONS//////////*/

.wrapper .skills .progress-bar {
    align-items: center;
    background: #494949;
    border-radius: 2em;
    display: flex;
    height: auto;
    justify-content: flex-start;
    margin-bottom: 0.2em;
    padding: 0.2em 0.5em;
    width: 100%;
}

.wrapper .skills .progress-bar .progress-css-html {
    animation: load-css-html 3s normal forwards;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 10px 40px -10px #fff;
    height: 1.5em;
    width: 0;
}

@keyframes load-css-html {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.wrapper .skills .progress-bar .progress-sql {
    animation: loadsql 3s normal forwards;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 10px 40px -10px #fff;
    height: 1.5em;
    width: 0;
}

@keyframes loadsql {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

.wrapper .skills .progress-bar .progress-js {
    animation: loadjs 3s normal forwards;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 10px 40px -10px #fff;
    height: 1.5em;
    width: 0;
}

@keyframes loadjs {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

/*//////////////////////*/

.wrapper .skills .skills-grid label {
    color: #2b2b2b;
    font-size: 1.5em;
}

/*.wrapper .skills .skills-grid .CSS-HTML:hover{*/
/*    color: #ffffff;*/
/*    font-size: 1.7em;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/

/*}*/

.wrapper .skills img {
    height: auto;
    width: 4em;
}

.wrapper .skills .programs {
    margin-top: 3em;
}

.wrapper .skills .programs label {
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    margin-left: 6em;
}

.wrapper .skills .programs li {
    display: inline;
    margin-right: 2em;
    padding: 0.5em;
    padding-bottom: 0;
}

.wrapper .skills .programs ul {
    margin-top: 3em;
    text-align: center;
}

.wrapper .skills .lang-label {
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    margin-left: 6em;
    margin-top: 3em;
}

.wrapper .skills .lang {
    display: grid;
    grid-template-columns: 20% 40%;
    grid-template-rows: repeat(2, 60%);
    height: auto;
    margin-bottom: 5em;
    margin-top: 3em;
    width: 80%;

}

.wrapper .skills .lang label {
    color: #2b2b2b;
    font-size: 1.5em;
}

/*---------------------STUDIES---------------*/
.wrapper .studies {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 23em;
    width: 100%;
    padding-bottom: 20em;
}

.wrapper .studies .title {
    margin: 3em 0;
    width: 7em;

}

.wrapper .studies .title .orange {
    color: #fec704;
    font-size: 2em;
    text-align: right;
}

.wrapper .studies .title .white {
    color: white;
    font-size: 2em;
    text-align: right;
}

.wrapper .studies .uni {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    margin-left: 13em;
}

.wrapper .studies .uni .date {
    color: #fec704;
    font-size: 2em;
    letter-spacing: 0.05em;
    margin-right: 3em;
}

.wrapper .studies .uni .logopk img {
    width: 5em;
    height: auto;
}

.wrapper .studies .uni .info {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.wrapper .studies .uni .spec {
    color: #fec704;
    font-size: 1.5em;
}

.wrapper .studies .uni .uni-name {
    color: white;
    font-size: 2em;
}

/*--------------MEDIAQUERY TABLET----------------*/

@media screen and (min-width: 600px) and (max-width: 1500px) {
    /*--------------HEADER------------------*/
    header {
        flex-direction: column;
    }

    header .name {
        font-size: 1.8em;
        margin-left: 0;
        padding-top: 0.8em;
        text-align: center;
        width: 100%;
    }

    header .menu {
        margin: 0;
        margin-top: 1em;
        width: 100%;
    }

    header .menu ul {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    header .menu li {
        margin-right: 0;
        padding: 0;
        width: 25%;
    }

    header .menu li a {
        font-size: 1em;
        padding: 0.8em;
    }

    /*--------------WELCOME----------------*/
    .wrapper .welcome {
        display: flex;
        flex-direction: column;
        padding: 5% 2%;
        padding-bottom: 0;
    }

    .wrapper .welcome .image {
        display: flex;
        height: auto;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .wrapper .welcome .image img {
        height: auto;
        max-width: 30em;
    }

    .wrapper .welcome .strings_divs {
        display: flex;
        height: auto;
        justify-content: center;
        margin: auto;
        width: auto;
    }

    .wrapper .welcome .strings_divs .string1 {
        margin: 0;

    }

    .wrapper .welcome .strings_divs .string1 h1 {
        color: #fff;
        font-size: 1.4em;
        margin: 1em 0;
        margin-bottom: 0.5em;

    }

    .wrapper .welcome .strings_divs .string2 {
        font-size: 0.8em;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }

    .wrapper .welcome .strings_divs .string2 h1 {
        margin-bottom: 1em;
        text-align: center;
    }

    /*----------------------ABOUT ME -------------------------------*/
    .wrapper .about-me .title {
        margin: 2em 3em;
        margin-right: 0.5em;

    }

    .wrapper .about-me .title .black {
        font-size: 1.5em;
    }

    .wrapper .about-me .title .orange {
        font-size: 1.5em;
    }

    .wrapper .about-me .info-box {
        padding: 5em 2em;
    }

    .wrapper .about-me .buttons {
        align-self: flex-start;
        margin: 2em 3em;
        margin-left: 0.5em;
    }

    /*-------------------SKILLS--------------*/
    .wrapper .skills {
        padding-left: 0;
    }

    .wrapper .skills .title {
        margin: 2em 3em;
        width: 4em;
    }

    .wrapper .skills .title .black {
        font-size: 1.5em;
    }

    .wrapper .skills .title .white {
        font-size: 1.5em;
    }

    .wrapper .skills .skills-grid {
        display: grid;
        grid-template-columns: 20% 40%;
        grid-template-rows: repeat(4, 30%);
        height: auto;
        margin-bottom: 5em;
        margin-top: 2em;
        width: 100%;
    }

    .wrapper .skills .programs label {
        margin-left: 1em;
    }

    .wrapper .skills .lang-label {
        margin-left: 1em;
    }

    .wrapper .skills .lang {
        margin-bottom: 5em;
        width: 100%;
    }

    /*---------------------STUDIES---------------*/
    .wrapper .studies {
        padding-left: 0;
        padding-bottom: 20em;
    }

    .wrapper .studies .title {
        margin: 2em 1em;
        margin-right: 0.5em;
        width: 6em;

    }

    .wrapper .studies .title .orange {
        font-size: 1.5em;
    }

    .wrapper .studies .title .white {
        font-size: 1.5em;
    }

    .wrapper .studies .uni {
        margin-left: 10em;
    }

    .wrapper .studies .uni .date {
        font-size: 1.5em;
        margin-right: 1em;
    }

    .wrapper .studies .uni .logopk img {
        width: 4em;
    }

    .wrapper .studies .uni .spec {
        font-size: 1em;
    }

    .wrapper .studies .uni .uni-name {
        font-size: 1.5em;
    }
}

/*--------------MEDIAQUERY PHONE---------------*/

@media screen and (min-width: 0px) and (max-width: 600px) {

    /*--------------HEADER------------------*/
    header {
        flex-direction: column;
    }

    header .name {
        font-size: 1.5em;
        margin-left: 0;
        padding-top: 0.8em;
        text-align: center;
        width: 100%;
    }

    header .menu {
        margin: 0;
        margin-top: 1em;
        width: 100%;
    }

    header .menu ul {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    header .menu li {
        margin-right: 0;
        padding: 0;
        width: 25%;
    }

    header .menu li a {
        font-size: 0.8em;
        padding: 0.8em;
    }

    /*--------------WELCOME----------------*/
    .wrapper .welcome {
        display: flex;
        flex-direction: column;
        padding: 10% 2%;
        padding-bottom: 0;
    }

    .wrapper .welcome .image {
        display: flex;
        height: auto;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .wrapper .welcome .image img {
        height: auto;
        max-width: 22em;
    }

    .wrapper .welcome .strings_divs {
        display: flex;
        height: auto;
        justify-content: center;
        margin: auto;
        width: auto;
    }

    .wrapper .welcome .strings_divs .string1 {
        margin: 0;

    }

    .wrapper .welcome .strings_divs .string1 h1 {
        color: #fff;
        font-size: 1.4em;
        margin: 1em 0;
        margin-bottom: 0.5em;

    }

    .wrapper .welcome .strings_divs .string2 {
        display: none;
    }

    /*----------------------ABOUT ME -------------------------------*/
    .wrapper .about-me {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .wrapper .about-me .title {
        margin: 2em 1em;
        margin-right: 0.5em;
    }

    .wrapper .about-me .title .black {
        font-size: 1em;
    }

    .wrapper .about-me .title .orange {
        font-size: 1em;
    }

    .wrapper .about-me .info-box {
        font-size: 1em;
        padding: 2em 1em;
    }

    .wrapper .about-me .buttons {
        align-self: flex-start;
        margin: 2em 2em;
        margin-left: 0.5em;
    }

    .wrapper .about-me .buttons button {
        border-radius: 2.5em;
        font-size: 0.8em;
        padding: 1em;
        width: 9em;
    }

    /*-------------------SKILLS--------------*/
    .wrapper .skills {
        padding-left: 0;
    }

    .wrapper .skills .title {
        margin: 2em 1em;
        margin-right: 0.5em;
        width: 3em;
    }

    .wrapper .skills .title .black {
        font-size: 1em;
    }

    .wrapper .skills .title .white {
        font-size: 1em;
    }

    .wrapper .skills .skills-grid {
        grid-template-columns: 20% 60%;
        grid-template-rows: repeat(4, 20%);
        margin-bottom: 2em;
        width: 100%;
    }

    /*////////ANIMATIONS//////////*/
    .wrapper .skills .progress-bar {
        padding: 0.6em 0.3em;
    }

    .wrapper .skills .progress-bar .progress-css-html {
        height: 1em;
    }

    .wrapper .skills .progress-bar .progress-sql {
        height: 1em;
    }

    .wrapper .skills .progress-bar .progress-js {
        height: 1em;
    }

    /*//////////////////////*/
    .wrapper .skills .skills-grid label {
        font-size: 1em;
    }

    .wrapper .skills .programs {
        margin-top: 1em;
    }

    .wrapper .skills .programs label {
        font-size: 1em;
        margin-left: 1em;
    }

    .wrapper .skills img {
        width: 2em;
    }

    .wrapper .skills .lang-label {
        font-size: 1em;
        margin-left: 1em;
    }

    .wrapper .skills .lang {
        display: grid;
        grid-template-columns: 20% 60%;
        grid-template-rows: repeat(2, 40%);
        height: auto;
        margin-bottom: 5em;
        margin-top: 3em;
        width: 100%;
    }

    .wrapper .skills .lang label {
        font-size: 1em;
    }

    /*---------------------STUDIES---------------*/
    .wrapper .studies {
        padding-left: 0;
        padding-bottom: 20em;
    }

    .wrapper .studies .title {
        margin: 2em 1em;
        margin-right: 0.5em;
        width: 4em;
        margin-bottom: 4em;
    }

    .wrapper .studies .title .orange {
        font-size: 1em;
    }

    .wrapper .studies .title .white {
        font-size: 1em;
    }

    .wrapper .studies .uni {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-left: 2em;
    }

    .wrapper .studies .uni .date {
        font-size: 1em;
        margin-right: 1em;
    }

    .wrapper .studies .uni .logopk img {
        width: 3em;
    }

    .wrapper .studies .uni .info {
        margin-left: 2em;
    }

    .wrapper .studies .uni .spec {
        font-size: 0.8em;
    }

    .wrapper .studies .uni .uni-name {
        font-size: 1em;
    }

}